<div id="menuContainer">
    <div id="menuLogoImg"></div>
    <ul id="menuList">
        <li class="menuItem"><span>Articles</span></li>
        <li class="menuItem"><span>Products</span></li>
        <li class="menuItem"><span>Ipsem</span></li>
        <li class="menuItem"><span>Lorem</span></li>
    </ul>
</div>