body {
  background: orange; }

.productLi {
  list-style: none;
  height: 75px;
  width: 1000px;
  background: white;
  padding: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: black; }
  .productLi a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-left: 5px; }
    .productLi a .productImg {
      width: 100px;
      height: 90%;
      color: rgba(0, 0, 0, 0.2);
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .productLi a ul {
      list-style: none; }
    .productLi a span {
      display: flex;
      flex-direction: row;
      margin: 10px 5px 10px 5px;
      height: 100%;
      width: auto;
      align-content: center;
      justify-content: flex-end;
      margin-right: 0; }
      .productLi a span button {
        height: 95%;
        width: 50px;
        margin: 1px;
        padding: 0;
        align-content: center; }

.editForm {
  display: flex;
  flex-direction: column;
  width: 25%; }
  .editForm label {
    margin: 5px; }
  .editForm input {
    margin: 5px;
    height: 30px;
    font-size: 12px;
    padding-left: 5px; }
  .editForm span {
    display: flex;
    flex-direction: row;
    justify-content: center; }

button {
  margin: 10px 5px 10px 5px;
  height: 45px;
  width: 115px;
  background-color: green;
  border: 3px solid darkgreen;
  border-radius: 2px;
  color: white;
  font-size: 12px; }
  button:active {
    background-color: darkgreen;
    border: 3px solid darkgreen; }
  button:focus {
    outline: 0; }
