body {
  display: flex;
  flex-direction: row; }
  body #mainContainer {
    flex-grow: 100; }

#menuContainer {
  height: 100vh;
  width: 200px;
  background: #08345b;
  color: white;
  font-family: Arial, Helvetica, sans-serif; }
  #menuContainer #menuLogoImg {
    height: 200px;
    width: 100%; }
  #menuContainer #menuList {
    list-style: none;
    font-size: 20px;
    padding: 0;
    margin: 0; }
    #menuContainer #menuList .menuItem {
      height: 50px;
      width: 100%;
      border-bottom: #21496c 1px solid;
      line-height: 50px; }
      #menuContainer #menuList .menuItem span {
        padding: 25px; }

#headerContainer {
  width: 100%;
  height: 200px;
  position: relative;
  justify-content: center;
  align-content: center; }
  #headerContainer h1 {
    position: absolute;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    color: white;
    bottom: -58px;
    left: 150px; }
    #headerContainer h1 #odometer {
      display: inline-block;
      height: 70px;
      position: absolute;
      left: -225px;
      bottom: 38px; }
  #headerContainer #svgContainer {
    flex-grow: 100;
    height: 100%;
    position: absolute;
    width: 100%; }
    #headerContainer #svgContainer svg {
      height: 100%;
      width: 1400px; }
