<h1>New Product</h1>
<p>Use this form to create a new product.</p>

<form class="editForm" action="/products" method="POST">

    <label for="name">Name:</label><input type="text" name="name" id="name" placeholder="product name">

    <label for="description">Description:</label> <input type="text" name="description" id="description"
        placeholder="product description">

    <label for="price">Price: </label><input type="text" name="price" id="price" placeholder="product price">

    <label for="inventory">Inventory:</label> <input type="text" name="inventory" id="inventory"
        placeholder="product inventory">
    <span>
        <button type="submit">Submit</button>
        <button type="submit" formaction="/products" formmethod="GET">Cancel</button>
    </span>
</form>

{{#if error}}
{{> errors}}
{{/if}}